


body{
	background-color: #0c0d12;
	color: white;
	font-size: 16px;
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}


.container{
	width: 80%;
	margin: auto;
	padding: 0;
	overflow: hidden;
}

#main_header{
	text-align: center;
	display: flex;
	align-items: center;
	min-height: 100vh;
	background-image: url("../images/poly.jpg" );
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


#flex_container{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}


#resume_img_box img{
	max-width: 100%;
	max-height: 100vh;
}


#resume_txt_box{	
	line-height: 3;
	font-size: 2em;
	margin-left: 10%;
}


#resume_txt_box ul{
	list-style-type: none;
	padding: 0;
}


#resume_txt_box li{
	text-align: center;
}


#resume_txt_box a{
	text-decoration: none;
	color: white;
	padding: 0;
}


#download{
	background-color: #2f2f9c;
	border-radius: 25px;
	padding: 0;
}


footer{
	margin: auto;
	margin-top: 20px;
	text-align: center;
	font-size: 0.8em;
}

@media(max-width: 980px){
	#resume_txt_box{
		font-size: 1.2em;
	}

}

@media(max-width: 840px){
	#flex_container{
		flex-direction: column;
	}

	#resume_txt_box{
		margin: 0;
		line-height: 1.5;
		font-size: 1em;
		max-width: 100%;
	}
}
