body{
	background-color: #0c0d12;
	color: white;
	font-size: 1.6em;
	margin: 0;
	font-family: sans-serif;
}


.container{
	width: 80%;
	margin: auto;
	padding: 0;
}


#main_header{
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}


#main{
	display: flex;
	flex-flow: row wrap;
	text-align: center;
	height: 100vh;
}

#resume_img{
	max-height: 100vh;
	max-width: 100%;
	box-sizing: border-box;
	margin: auto;
}


#resume_text{
	box-sizing: border-box;
	margin: auto;
}


@media(max-width: 600px){
	body{
		font-size: 1em;
	}
}