body{
	background-color: #0c0d12;
	color: white;
	font-size: 16px;
	margin: 0;
	font-family: sans-serif;
}


.container{
	width: 80%;
	margin: auto;
	padding: 0;
}


#main_header{
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}


#main_flex{
	display: flex;
	flex-flow: row wrap;
	text-align: center;
	height: 100vh;
}


#main_flex div{
	border: 1px green solid;
}


#resume_img{
	max-height: 100vh;
	padding: 10px;
	box-sizing: border-box;
	margin: auto;
}

/*
#resume_text{
	box-sizing: border-box;
	margin: auto;
}
*/

@media(max-width: 600px){
	body{
		font-size: 1em;
	}
}